body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: orange;
}

.contenedor {
    background-color: yellow;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    font-size: xx-large;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}
